<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("common/headinfo.html",{h_tit:'河北旅游电商资讯网_404'})%>
</head>
<body>
<div class="common-four">
    <div class="error">
        <div class="error-hd error-service-hd">
            <div class="error-false error-service"></div>
            <div class="error-banner"></div>
        </div>
        <div class="error-bd">
            <p>服务器出问题啦！<br/>工程师们正在努力抢修，请稍后再试!</p>
        </div>
        <div class="error-ft">
            <a href="javascript:history.go(-1)">返回上一页</a><a href="./index.html">返回首页</a>
        </div>
    </div>
</div>
</body>
</html>
