<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("common/headinfo.html",{h_tit:'平乐古镇·天台山旅游电子商务平台_购物车支付'})%>
    <!-- 页面设计：陈建波| 页面重构：何小贵 | 前端开发：何小贵 | 创建：2018-8-20 -->
</head>
<body>
<div class="c-p c-p-1">
    <!--页头-->
    <%-include("common/header.html")%>
    <div class="cart-header-mid">
        <div class="center clearfix">
            <a href="index.html" class="logo">
                <img src="./image/logo.png" alt="平乐古镇·天台山旅游电子商务平台">
            </a>
            <div class="steps clearfix">
                <div class="step sp0 active">
                    <span>查看购物车</span>
                    <i></i>
                </div>
                <div class="step sp1 active">
                    <span>确认订单</span>
                    <i></i>
                </div>
                <div class="step sp2 active">
                    <span>付款到商城</span>
                    <i></i>
                </div>
                <div class="step sp3 active">
                    <span>完成</span>
                    <i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="order-page js_pay_wrapper"></div>
</div>
<!--页尾-->
<%-include("common/footer.html")%>
<script type="text/template" id="detailTmpl">
    <div class="font1 ">
        <i class="daq-icon">&#xe6b6;</i>
        <p class="p1">订单支付成功</p>
    </div>
    <div class="font2">
        <div class="o-i-tr clearfix">
            <div class="o-i-l">订单号：</div>
            <div class="o-i-r">
                <p>${data.sn}</p>
            </div>
        </div>
        <div class="o-i-tr clearfix">
            <div class="o-i-l">订单金额：</div>
            <div class="o-i-r">
                <p class="orange-font"><i class="small">&yen;&nbsp;</i><span>${data.amount}</span></p>
            </div>
        </div>
        <div class="o-i-tr clearfix">
            <div class="o-i-l">收货人：</div>
            <div class="o-i-r">
                <p>${data.orders[0].contactName}</p>
            </div>
        </div>
        <div class="o-i-tr clearfix">
            <div class="o-i-l">手机号码：</div>
            <div class="o-i-r">
                <p>${data.orders[0].contactMobile}</p>
            </div>
        </div>
        <div class="o-i-tr clearfix">
            <div class="o-i-l">收货地址：</div>
            <div class="o-i-r">
                <p>${data.orders[0].areaName}${data.orders[0].address}</p>
            </div>
        </div>
        <div class="o-i-tr clearfix">
            <div class="o-i-l">预订时间：</div>
            <div class="o-i-r">
                <p>${data.FormatCreateDate}</p>
            </div>
        </div>
        <!--手机二维码-->
        <!--<div class="appcode-box">-->
            <!--<div class="imgbox">-->
                <!--<img src="image/appcode.png" alt="">-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="font3">
        <a href="./index.html" class="tohome">返回首页</a>
        <a href="./personalCenter-allorder.html?type=specialty" class="toorder">查看订单</a>
    </div>
</script>
<script>
var pay = {
    init: function(){
        this.getOrderDetail();
    },
    getOrderDetail: function(){
        var _this = this;
        var $tmpl = $('#detailTmpl');
        var $wrapper = $('.js_pay_wrapper');
        $wrapper.renderHtml({
            url:  'ds/qiandnApi/cart/get-order',
            type: true,
            loading: true,
            template: $tmpl,
            params: {
                token: tools.getCookie('token'),
                sn: tools.getUrlParams('sn')
            },
            callback: function(data){
                data.FormatCreateDate = _this.getStartDate(data.orders[0].createDate);
                return data;
            },
            complete: function(res){}
        });
    },
    // 获取年月日日期
    getStartDate: function(time){
        var date = new Date(time);
        return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
    }
};
$(function(){
    pay.init();
});
</script>
</body>
</html>
