<!DOCTYPE html>
<html lang="cn">
<head>
    <%-include("common/headinfo.html",{h_tit:'平乐古镇·天台山旅游电子商务平台_酒店列表'})%>
</head>
<body>
<!--页头-->
<%-include("common/header.html")%>
<!-- 导航 -->
<%-include("common/nav.html")%>
<!--面包削-->
<div class="crumbs">
    <div class="js_curmbs center"></div>
</div>
    <!--筛选模块-->
    <div class="hotel-screen-box">
        <!--&lt;!&ndash;类型选择&ndash;&gt;-->
        <!--<ul class="columntype clearfix">-->
            <!--<li><a href="scenic-list.html?channelCode=jqmp&code=jqmp">景区门票</a></li>-->
            <!--<li class="curr"><a href="hotel-list.html?channelCode=jdzs&code=jdzs">酒店住宿</a></li>-->
            <!--<li><a href="line-list.html?channelCode=lyxl&code=lyxl">旅游线路</a></li>-->
            <!--<li><a href="food-list.html?channelCode=tsms&code=tsms">特色美食</a></li>-->
            <!--<li><a href="specialty-list.html?channelCode=tcgw&code=tcgw">特产购物</a></li>-->
        <!--</ul>-->
        <!--入住 退房 关键词 筛选-->
        <ul class="time-screening center">
            <li class="inroomtime">
                入住：
                <div class="daq-date mt-10">
                    <input class="date" id="start" placeholder="请选择日期"/>
                    <i class="sysfont date-icon"></i>
                </div>
            </li>
            <li class="outroomtime">
                退房：
                <div class="daq-date mt-10">
                    <input class="date" id="end" placeholder="请选择日期"/>
                    <i class="sysfont date-icon"></i>
                </div>
            </li>
            <li class="keyword">
                关键词：
                <input type="text" placeholder="输入关键词" class="js_keyword">
            </li>
            <li>
                <i class="hotel-search">搜索</i>
            </li>
        </ul>
        <!--条件筛选-->
        <div class="selection-conditions center clearfix">
            <!--区县选择-->
            <!--<div class="region-box clearfix">-->
                <!--<label>区县选择</label>-->
                <!--<ul class="region clearfix close">-->

                <!--</ul>-->
                <!--<i class="region-openicon">展开 <i class="daq-icon">&#xe66f;</i></i>-->
            <!--</div>-->
            <!--热门景点-->
            <!--<div class="hothotel-box clearfix">-->
                <!--<label>热门景点</label>-->
                <!--<ul class="hothotel clearfix close">-->

                <!--</ul>-->
                <!--<i class="hot-openicon">展开 <i class="daq-icon">&#xe66f;</i></i>-->
            <!--</div>-->
            <!--价格选择-->
            <div class="price-box clearfix">
                <label>价格选择</label>
                <ul class="price clearfix">
                    <li class="curr"  data-min="" data-max="">全部</li>
                    <li data-min="0" data-max="100">&yen;0-100</li>
                    <li data-min="100" data-max="300">&yen;100-300</li>
                    <li data-min="300" data-max="">&yen;300以上</li>
                </ul>
            </div>
        </div>
    </div>
    <!--酒店列表-->
    <ul class="hotel-list center">

    </ul>
    <!--分页 E-->
    <!--弹窗-->
    <!--地图-->
    <p class="cover maskes mapnone cover01"></p>
    <div class="cover-content-box mapnone cover-content-word">
        <h3 class="hide cover-content-tit"><i></i>
            <span class="cover-tit"></span>

            <a href="javascript:;" class="close-cover">×</a>
        </h3>
        <div id="buyMap" class="cover-con"></div>
    </div>
    <!--页尾-->
    <%-include("common/footer.html")%>
    <!--酒店列表模板-->
    <script type="text/template" id="listTmpl">
        <!--酒店列表 + 分页 -->
        <ul class="hotel-list clearfix">
            {{each list}}
            <li>
                <div class="imgbox">
                    <a href="hotel-detail.html?channelCode=jdzs&id=${id}&code=jdzs">
                        <img src="${picture || 'image/zw.jpg'}" alt="">
                    </a>
                </div>
                <div class="fontbox">
                    <p class="title" title="${name}"><a href="hotel-detail.html?channelCode=jdzs&id=${id}&code=jdzs">${tools.ellipsisContent(name,20)}</a></p>
                    <p class="hotel-facilities" title="${roomFacilities}"><span class="fontname">酒店设施 : </span>${tools.ellipsisContent(roomFacilities,40) || '暂无数据'}</p>
                    <p class="hotel-address" title="${address}"><span class="fontname">酒店地址 : </span>${tools.ellipsisContent(address,30) || '暂无数据'}</p>
                    <span class="seemap" data-long="${longitude}" data-lat="${latitude}" data-name="${name}">查看位置</span>
                </div>
                <div class="start-box">
                    <p><span class="nowstart">${commentLevel}</span>/5.0分</p>
                </div>
                <div class="price-box">
                    {{if prices}}
                    <p>&yen;<span>${prices}</span>起</p>
                    {{/if}}
                    <a href="hotel-detail.html?channelCode=jdzs&id=${id}&code=jdzs">查看详情</a>
                </div>
            </li>
            {{/each}}
        </ul>
        <!--分页 S-->
        <div class="page">
            <a class="first-page">首页</a>
            <span class="page-up">上一页</span>
            <a class="curr">1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <span class="page-down">下一页</span>
            <a class="last-page">末页</a>
        </div>
        <!--分页 E-->
    </script>
    <!--区域模板-->
    <script type="text/template" id="regionsTemp">
        <li class="curr" data-id="">全部</li>
        {{each list}}
        <li data-id="${region}">${name}</li>
        {{/each}}
    </script>
    <!--热门景区模板-->
    <script type="text/template" id="hotScenicTemp">
        <li class="curr" data-id="">全部</li>
        {{each list}}
        <li data-latitude="${latitude}" data-longitude="${longitude}" data-id="${resourceCode}">${name}</li>
        {{/each}}
    </script>
<script>
    var indexJs = {
        init: function () {
            tools.setTowLevelBanner();
            this.hotelParams = {
                startDate:'',
                endDate:'',
                name: '',
                page: 1,
                limitPage: 9,
                region: '',
                priceStart: '',
                priceEnd: '',
                region:tools.getUrlParams('region') || ''
            };
            this.setGeekerLayDate();
            this.setRegionOpenicon();
            this.setHotOpenicon();
            // this.loadRegions(); //获取地区列表
            this.loadList(); // 获取酒店列表
            this.hotelSearch(); // 条件搜索酒店
            this.setPrice(); //价格筛选
            // this.laodHotScenic(); // 热门景点

        },
        // 区县选择状态
        regionOpenType:0,
        //热门景点状态
        hotOpenType:0,
        // 设置时间选择控件
        setGeekerLayDate: function () {
            var _this = this;
            var start =  laydate.render({
                elem: '#start',
                change: function () {
                    alert('sdxc')
                },
                done: function(value, date){
                    if(value !== ''){
                        end.config.min.year = date.year;
                        end.config.min.month = date.month-1;
                        end.config.min.date = date.date;
                    }else{
                        end.config.min.year = '';
                        end.config.min.month = '';
                        end.config.min.date = '';
                    }
                    _this.hotelParams.startDate = value
                }
            });
            var end = laydate.render({
                elem: '#end',
                change: function () {
                    alert('asd')
                },
                done: function(value, date){
                    if (value !== ''){
                        start.config.max.year = date.year;
                        start.config.max.month = date.month-1;
                        start.config.max.date = date.date;
                    } else {
                        start.config.max.year = '';
                        start.config.max.month = '';
                        start.config.max.date = '';
                    }
                    _this.hotelParams.endDate = value
                }
            });

            //当前时间
            // 获取当前时间转换成标准时间格式
            var mydate = dateToString(new Date());

            function dateToString(now){
                var year = now.getFullYear();
                var month =(now.getMonth() + 1).toString();
                var day = (now.getDate()).toString();
                var hour = (now.getHours()).toString();
                var minute = (now.getMinutes()).toString();
                var second = (now.getSeconds()).toString();
                if (month.length == 1) {
                    month = "0" + month;
                }
                if (day.length == 1) {
                    day = "0" + day;
                }
                if (hour.length == 1) {
                    hour = "0" + hour;
                }
                if (minute.length == 1) {
                    minute = "0" + minute;
                }
                if (second.length == 1) {
                    second = "0" + second;
                }
//            var dateTime = year + "-" + month + "-" + day +" "+ hour +":"+minute+":"+second;
                var dateTime = year + "-" + month + "-" + day;
                return dateTime;
            }
        },
        // 设置区县选择 收起和展开
        setRegionOpenicon: function () {
            var _this = this;
            $(".region-openicon").click(function () {
                if(_this.regionOpenType === 1){
                    $('.region').addClass('close')
                    _this.regionOpenType =0;
                    $(this).html('展开 <i class="daq-icon">&#xe66f;</i>')
                }else{
                    $('.region').removeClass('close')
                    _this.regionOpenType =1;
                    $(this).html('收起 <i class="daq-icon">&#xe670;</i>')
                }
            })
        },
        // 设置热门景点 收起和展开
        setHotOpenicon: function () {
            var _this = this;
            $(".hot-openicon").click(function () {
                if(_this.hotOpenType === 1){
                    $('.hothotel').addClass('close')
                    _this.hotOpenType =0;
                    $(this).html('展开 <i class="daq-icon">&#xe66f;</i>')
                }else{
                    $('.hothotel').removeClass('close')
                    _this.hotOpenType =1;
                    $(this).html('收起 <i class="daq-icon">&#xe670;</i>')
                }
            })
        },
        // 获取地区列表
        loadRegions: function () {
            var _this = this;
            var $listTmpl = $("#regionsTemp");
            var $listWrapper = $('.region');
            $listWrapper.empty();
            var params = {
                url: 'common/siteRegions',
                data: {}
            };
            tools.request(params, function(res){
                $listTmpl.tmpl({list: res.datas}).appendTo($listWrapper);
                $('.region').find('li').on('click', function () {
                    _this.hotelParams.page = 1;
                    _this.hotelParams.region = $(this).attr('data-id')
                    $(this).addClass('curr').siblings().removeClass('curr')
                    _this.loadList();
                })
                if(tools.getUrlParams('region')){
                    $('.region').find('li[data-id = '+tools.getUrlParams('region')+']').addClass('curr').siblings().removeClass('curr')
                }
            })
        },
        // 热门景点列表
        laodHotScenic: function() {
            var _this = this;
            var $listTmpl = $("#hotScenicTemp");
            var $listWrapper = $('.hothotel');
            $listWrapper.empty();
            var params = {
                url: 'common/recommondScenerys',
                data: {}
            };
            tools.request(params, function(res){
                $listTmpl.tmpl({list: res.datas}).appendTo($listWrapper);
                $('.hothotel li').on('click', function () {
                    _this.hotelParams.page = 1;
                    _this.hotelParams.longitude = $(this).attr('data-longitude')
                    _this.hotelParams.latitude = $(this).attr('data-latitude')
                    _this.hotelParams.distance  = 5
                    $(this).addClass('curr').siblings().removeClass('curr')
                    _this.loadList();
                })
            })
        },
        // 价格筛选
        setPrice: function () {
            var _this= this;
            $('.price li').on('click', function () {
                _this.hotelParams.page=1;
                _this.hotelParams.priceStart = $(this).attr('data-min')
                _this.hotelParams.priceEnd = $(this).attr('data-max')
                $(this).addClass('curr').siblings().removeClass('curr')
                _this.loadList();
            })
        },
        // 获取酒店列表
        loadList: function(){
            // console.log(this.hotelParams)
            var _this = this;
            var _self = this;
            var $listTmpl = $("#listTmpl");
            var $listWrapper = $('.hotel-list');
            $listWrapper.empty();
            var loading = tools.loading($listWrapper);
            var params = {
                url: 'hotel/list',
                data: this.hotelParams
            };
            tools.request(params, function(res){
                loading.clean();
                if (res.code === 0) {
                    if (res.datas && res.datas.length > 0) {
                        $listTmpl.tmpl({list: res.datas}).appendTo($listWrapper);
                         // 初始化分页
                        var option = {
                            total: res.page.totalPage,
                            currPage: res.page.currPage,
                            click: function (data) {
                                page = data.page;
                                _self.hotelParams.page = data.page;
                                $(window).scrollTop(0);
                                _self.loadList();
                            }
                        };
                        tools.pageTurn(option);
                        _this._mapEventBind();
                    } else {
                        $listWrapper.html(tools.NO_DATA);
                    }
                } else {
                    $listWrapper.html(tools.TRY_REFRESH);
       0         }
            });
        },
        // 酒店条件搜索
        hotelSearch: function () {
            var _this = this;
            $('.hotel-search').on('click', function () {
                _this.hotelParams.page = 1;
                _this.hotelParams.name = $('.js_keyword').val();
                _this.loadList();
            })

        },
        // 设置地图
        _setMap: function (long, lat, address) {
            // 百度地图API功能
            var map = new BMap.Map("buyMap", {
                enableMapClick: false
            });
            map.centerAndZoom(new BMap.Point(long, lat), 18);
            map.enableScrollWheelZoom();
            // 复杂的自定义覆盖物
            function ComplexCustomOverlay(point, text) {
                this._point = point;
                this._text = text;
            }

            ComplexCustomOverlay.prototype = new BMap.Overlay();
            ComplexCustomOverlay.prototype.initialize = function (map) {
                this._map = map;
                var div = this._div = document.createElement("div");
                div.className = "map-icon-add maskes";
                div.style.position = "absolute";
                div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
                div.style.border = "none";
                div.style.color = "white";
                div.style.height = "18px";
                div.style.whiteSpace = "nowrap";
                div.style.MozUserSelect = "none";
                div.style.fontSize = "12px";
                div.setAttribute("title", this._text);
                var span = this._span = document.createElement("span");
                span.setAttribute("class", "hide");
                div.appendChild(span);
                span.appendChild(document.createTextNode(this._text));
                var arrow = this._arrow = document.createElement("div");
                arrow.style.background = "url(image/tri.png) no-repeat";
                arrow.style.position = "absolute";
                arrow.style.width = "10px";
                arrow.style.height = "5px";
                arrow.style.bottom = "-5px";
                arrow.style.left = "50%";
                arrow.style.marginLeft = "-5px";
                arrow.style.overflow = "hidden";
                div.appendChild(arrow);
                map.getPanes().labelPane.appendChild(div);

                return div;
            };
            ComplexCustomOverlay.prototype.draw = function () {
                var map = this._map;
                var pixel = map.pointToOverlayPixel(this._point);
                this._div.style.left = (pixel.x - 25) - parseInt(this._arrow.style.left) + "px";
                this._div.style.top = pixel.y - 55 + "px";
            };
            var myCompOverlay = new ComplexCustomOverlay(new BMap.Point(long, lat), address);

            map.addOverlay(myCompOverlay);
            function addMarker(point) {
                var myIcon = new BMap.Icon("image/buy-point.png", new BMap.Size(26, 32), {
                    anchor: new BMap.Size(0, 0)
                });
                var marker = new BMap.Marker(point, {icon: myIcon});
                map.addOverlay(marker);
            }

            var markPoint = new BMap.Point(long, lat);
            addMarker(markPoint);
        },
        // 地图事件
        _mapEventBind: function () {
            var _this = this;
            // 地图
            $(".hotel-list").on("click", ".seemap", function () {
                $(document).on('scroll.unable', function(e) {
                    $(document).scrollTop(top);
                })
                $(".cover01,.cover-content-box").show();
                var long = $(this).attr("data-long");
                var lat = $(this).attr("data-lat");
                var name = $(this).attr("data-name");
                $('.cover-tit').html(name);
                _this._setMap(long, lat, name);
            });
            $(".cover-content-box .close-cover,.cover01").click(function () {
                $(".cover01,.cover-content-box").hide();
                $(document).off('scroll.unable');
            });
        },
    }
    $(function() {
        indexJs.init();

    })
</script>
</body>
</html>
