<!DOCTYPE html>
<html lang="cn">
<head>
    <%-include("common/headinfo.html",{h_tit:'西安旅游电商平台_线路支付'})%>
</head>
<body>
<!--页头-->
<%-include("common/header.html")%>
<!--支付流程状态-->
<ul class="paytype center clearfix">
    <li class="paytype1"><i>1</i>填写订单</li>
    <li class="paytype2"><i>2</i>在线支付</li>
    <li class="paytype3"><i>3</i>完成</li>
</ul>
<!--订单信息-->
<div class="center line-payorder1-info clearfix">
    <div class="payorder1-left">
        <div class="title"><i class="daq-icon">&#xe729;</i>预订信息</div>
        <div class="ydinfo">
            <p class="ticket-title"></p>
            游玩日期：
            <div class="daq-date">
                <input class="date date-inp" placeholder="请选择日期"/>
                <i class="sysfont date-icon"></i>
                <div class="bom-date line_date">

                </div>
            </div>
        </div>
        <div class="inroom claerfix">
            <span class="fl">购买数量：</span>
            <!--<p class="daq-inp-operation dio-input spec-inp-operation fl quantity-operation">-->
                <!--<input class="wid-138 js_quantity quantity-num" type="text" value="" maxlength="3" />-->
                <!--<i class="sysfont inp-subtract dio-left dio-disable"></i><i class="sysfont dio-font"></i>-->
            <!--</p>-->
            <!--<span class="fl people">成人</span>-->
            <!--<p class="daq-inp-operation dio-input spec-inp-operation child-operation fl">-->
                <!--<input class="wid-138 js_quantity child-num" type="text" value="" maxlength="3" />-->
                <!--<i class="sysfont inp-subtract dio-left dio-disable"></i><i class="sysfont dio-font"></i>-->
            <!--</p>-->
            <!--<span class="fl people">儿童</span>-->
            <p class="fl quantity-operation clearfix">
                <i class="daq-icon minus fl">&#xe65d;</i>
                <input class="quantity-num fl input-num" type="text" value="1" maxlength="3" />
                <i class="daq-icon add fl">&#xe65b;</i>
            </p>
            <span class="fl people">成人</span>
            <p class="child-operation fl clearfix">
                <i class="daq-icon minus fl">&#xe65d;</i>
                <input class="quantity-num fl input-num" type="text" value="0" maxlength="3" />
                <i class="daq-icon add fl">&#xe65b;</i>
            </p>
            <span class="fl people">儿童</span>
        </div>
        <div class="title"><i class="daq-icon">&#xe6a1;</i>联系人信息 <span class="tips">温馨提示：您需要填写1个游玩人的信息</span></div>
        <div class="contacts clearfix">
            <span class="ctitle">常用联系人:</span>
            <div class="clearfix choose-box js_address">

             </div>
        </div>
        <div class="info1 none infoname">
            <span class="infotitle"><i>*</i>姓名:</span><input type="text" placeholder="请输入联系人姓名" class="pageusername"> 联系人
        </div>
        <div class="info1 none infophone">
            <span class="infotitle "><i>*</i>手机号码:</span><input type="text" placeholder="请输入手机号码" class="pageuserphone" maxlength="11"> 预订成功后会向您发送短信通知
        </div>
        <div class="info1 none">
            <i>*</i><span class="infotitle">名字拼音:</span><input type="text" placeholder="请输入联系人名字拼音" class="pageuserpingyin">联系人名字的全拼
        </div>
        <div class="info1 none">
            <i>*</i><span class="infotitle">导游证号:</span><input type="text" placeholder="请输入导游证号" class="pageuserdyz">导游证件编号
        </div>
        <div class="info1 none">
            <i>*</i><span class="infotitle">导游姓名:</span><input type="text" placeholder="请输入导游姓名" class="pageuserdyname">导游的姓名
        </div>
        <div class="info1 none">
            <i>*</i><span class="infotitle">导游身份证:</span><input type="text" placeholder="请输入导游身份证" class="pageuserdysfz" >导游的身份证号码
        </div>
        <div class="tourist-information">
            <span>游客人信息</span>
        </div>
        <ul class="tourist-list">
            <!--<li>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">游客姓名</span><input type="text" placeholder="请输入游客人姓名" class="tourist-name"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">游客手机号</span><input type="text" placeholder="请输入游客人手机号" class="tourist-phone" maxlength="11"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">姓名拼音</span><input type="text" placeholder="请输入游客人姓名拼音" class="tourist-namepy"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">身份证号码</span><input type="text" placeholder="请输入游客人身份证号码" class="tourist-sfz"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">护照</span><input type="text" placeholder="请输入游客人护照号" class="tourist-hz"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">台胞证</span><input type="text" placeholder="请输入游客人台胞证号" class="tourist-tb"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">港澳通行证</span><input type="text" placeholder="请输入游客人港澳通行证证号" class="tourist-ga"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">其他信息1</span><input type="text" placeholder="请输入其他信息1" class="tourist-other1"></div>-->
            <!--<div class="tourist-form none"><i class="beicon">*</i><span class="font1">其他信息2</span><input type="text" placeholder="请输入其他信息2" class="tourist-other2"></div>-->
            <!--</li>-->
        </ul>
        <div class="info2">
            <div id="checkbox2" class="clearfix choose-box ">
                <input type="checkbox" name="b.multi" value="true" title="同意《平乐古镇·天台山旅游电子商务平台网络产品购买协议》"  checked="checked"/>
            </div>
        </div>
        <div class="submit-box">
            <a href="javascript:;" class="paynow">立即支付</a>
        </div>
    </div>
    <div class="payorder1-right">
        <div class="title-box">
            <p class="title">费用明细</p>
        </div>
        <div class="pricebox">
            <p class="font clearfix">
                <span class="title">成人票</span>
                <span class="price"></span>
            </p>
            <p class="font clearfix">
                <span class="title2">儿童票</span>
                <span class="price2"></span>
            </p>
            <p class="font2 clearfix">
                <span class="title">应付金额</span>
                <span class="price"></span>
            </p>
        </div>
    </div>
</div>
<!--页尾-->
<%-include("common/footer.html")%>
<!--demo模板-->
<!--常用联系人列表-->
<script type="text/template" id="adressListTemp">
    {{each list}}
        <div class="fl contact-info" data-name="${name}" data-phone="${mobile}">
            <span class="contact-info-icon"><i class="daq-icon">&#xe6b6;</i></span>
            <span class="name">${name}</span>
        </div>
    {{/each}}
</script>
<script>
    var touristHtml = ' <li>' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">游客姓名</span><input type="text" placeholder="请输入游客人姓名" class="tourist-name"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">游客手机号</span><input type="text" placeholder="请输入游客人手机号" class="tourist-phone" maxlength="11"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">姓名拼音</span><input type="text" placeholder="请输入游客人姓名拼音" class="tourist-namepy"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">身份证号码</span><input type="text" placeholder="请输入游客人身份证号码" class="tourist-sfz"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">护照</span><input type="text" placeholder="请输入游客人护照号" class="tourist-hz"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">台胞证</span><input type="text" placeholder="请输入游客人台胞证号" class="tourist-tb"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">港澳通行证</span><input type="text" placeholder="请输入游客人港澳通行证证号" class="tourist-ga"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">其他信息1</span><input type="text" placeholder="请输入其他信息1" class="tourist-other1"></div>\n' +
        '                <div class="tourist-form none"><i class="beicon">*</i><span class="font1">其他信息2</span><input type="text" placeholder="请输入其他信息2" class="tourist-other2"></div>\n' +
        '            </li>'
    var indexJs = {
        init: function () {
            this.getDetail();
            this.setCheckBox();
            this.getTicketInfo(); // 获取门票信息
            this.getContacts(); //获取常用联系人
            this.getAddress(); //获取常用联系人
            this.numChange();
            this.max = '';
            this.chilsmax = 0;
            this.totalAmount = '';
        },
        //保存购买数量 用于对添加游客做控制
        params: {
            token: tools.getCookie('token'),
            page: 1,
            limitPage: 6
        },
        buyNum:'',
        paramsTotal:{
            sellPrice:'',
            childPrice:'',
            date:'',
            child:'',
            quantity:'',
            supplierId:'',
            passengerInfoPerNum:''
        },
        dataParam:{
            quantity:'',
            id: tools.getUrlParams('id'),
            date:'',
            child:'',
            token:''
        },
        //请求订单详情
        getDetail:function () {
            var _this = this;
            tools.request({
                url: 'line/detail',
                data:{
                    id: tools.getUrlParams('id')
                }
            },function (result) {
                _this.paramsTotal.passengerInfoPerNum = result.data.passengerInfoPerNum;
                $(".date-inp").val(tools.getUrlParams('depart'))
                $(".date-inp").on('click',function () {
                    $(this).next().next().css("display","block");
                });
                _this.paramsTotal.sellPrice = result.data.sellPrice;
                _this.paramsTotal.childPrice = result.data.childPrice;
                _this.paramsTotal.child = tools.getUrlParams('child');
                _this.paramsTotal.quantity = tools.getUrlParams('quantity');
                _this.dataParam.quantity = tools.getUrlParams('quantity');
                _this.dataParam.child = tools.getUrlParams('child');
                _this.dataParam.date = tools.getUrlParams('depart');
                _this.dataParam.token = tools.getCookie('token');
                $('.payorder1-right .font').find('.price').html('<i>&yen;</i>'+_this.paramsTotal.sellPrice +'x'+ _this.paramsTotal.quantity+'')
                $('.payorder1-right .font').find('.price2').html('<i>&yen;</i>'+_this.paramsTotal.childPrice +'x'+ _this.paramsTotal.child+'')
                $(".quantity-operation .quantity-num").val(_this.paramsTotal.quantity)
                $(".child-operation .quantity-num").val(_this.paramsTotal.child)
                // 数量输入框控制
                _this.max = tools.getUrlParams('maxBuy')
                _this.childmax = tools.getUrlParams('maxBuy') - $(".quantity-operation .quantity-num").val();
                _this.countPrice();
            })
        },
        // 请求常用联系人
        getAddress: function () {
            var _this = this;
            var loading = tools.loading($('.js_address'));
            tools.request({
                url:'userInfo/getMemberContacts',
                data: _this.params
            },function (result) {
                loading.clean();
//                $('.js-address').empty();
                if(result.code === 0) {
                    var list = result.datas;
                    if(list.length > 0){
                        $('#adressListTemp').tmpl({list: list}).appendTo('.js_address');
                        $(".contacts").show()
                        $(".contact-info-icon").click(function () {
                            if($(this).hasClass("active")){
                                $(this).removeClass("active");
                            } else{
                                $(this).addClass("active");
                                $(this).parent().siblings().find(".contact-info-icon").removeClass("active");
                                var name = $(this).parent().attr("data-name");
                                var phone = $(this).parent().attr("data-phone");
                                $(".infoname").find('input').val(name);
                                $(".infophone").find('input').val(phone);
                            }
                        })
                    }else{
                       $(".contacts").hide()
                    }
                }else{
                    alert(result.message);
                }
            })
        },
        //订单表单信息保存
        ticketInfoFrom: {
            resdata:{},
            ticketFrom:{
                bookingDate: '',
                userName:'',
                userPhone:'',
                agreement:true,
                childnum:'',
                quantitynum:'',
                countPrice:'',
                pinyin:'',
                guideno: '',
                guidename: '',
                guidecardid:''
            },
            touristArrarInfo:{
                name: [],  // 名字
                pinyin: [], // 拼音
                phone:[], // 电话
                usersfz:[],// 身份证
                userhz:[], // 护照
                usertb:[], //台胞证
                userga:[], // 港澳通行证
                define1:[], // 自定义1
                define2:[], // 自定义2
            }
        },
        // 获取当前日期
        getNowFormatDate: function() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        },
        // 设置时间选择控件
        setGeekerLayDate: function () {
            var _this = this;
            var end = laydate.render({
                elem: '#day',
                change: function (date) {

                },
                done: function(value, date){
                    if (value !== ''){
                        end.config.max.year = date.year;
                        end.config.max.month = date.month-1;
                        end.config.max.date = date.date;
                        _this.ticketInfoFrom.ticketFrom.bookingDate = value;
                    } else {
                        end.config.max.year = '';
                        end.config.max.month = '';
                        end.config.max.date = '';
                    }
                }
            });
        },
        //获取当前时间
        dateToString:function(now){
            var year = now.getFullYear();
            var month =(now.getMonth() + 1).toString();
            var day = (now.getDate()).toString();
            var hour = (now.getHours()).toString();
            var minute = (now.getMinutes()).toString();
            var second = (now.getSeconds()).toString();
            if (month.length == 1) {
                month = "0" + month;
            }
            if (day.length == 1) {
                day = "0" + day;
            }
            if (hour.length == 1) {
                hour = "0" + hour;
            }
            if (minute.length == 1) {
                minute = "0" + minute;
            }
            if (second.length == 1) {
                second = "0" + second;
            }
//            var dateTime = year + "-" + month + "-" + day +" "+ hour +":"+minute+":"+second;
            var dateTime = year + "-" + month + "-" + day;
            return dateTime;
        },
        // 小号复选框
        setCheckBox:function () {
            var _this = this;
            $("#checkbox").daqCheckbox({
                callback: function (data, obj) {
                    console.log(data);
                    console.log(obj);
                }
            });
            $("#checkbox2").daqCheckbox({
                labelSize: true,
                callback: function (data, obj) {
                    if(data[0] === 'true') {
                        _this.ticketInfoFrom.ticketFrom.agreement = true
                    }else{
                        _this.ticketInfoFrom.ticketFrom.agreement = false
                    }
                }
            });
        },
        // 获取门票订单信息
        getTicketInfo: function () {
            var _this = this;
            var betoken = tools.getCookie('token')
            var params = {
                url: 'line/getLineOrder',
                // type:true,
                data: {
                    token: betoken,
                    id: tools.getUrlParams('id')
                }
            };
            // 游客信息模板
            if(betoken) {
                tools.request(params, function(res) {
                    console.log(res)
                    _this.ticketInfoFrom.resdata = res.data.product;
                    _this.paramsTotal.supplierId = res.data.product.supplier.supplierId;
                    _this.lineDate();//请求日历/**/
                    _this.judgeServerConfig(res.data.product)
                    //设置门票名称
                    $('.ticket-title').html(res.data.product.productName);
                    // 后台配置只提交一个游客信息时 passengerInfoPerNum = 9999
                    if(res.data.product.passengerInfoPerNum === 9999 || res.data.product.passengerInfoPerNum === 1){
                        $('.tourist-list').html(touristHtml)
                        _this.judgeServerConfig(res.data.product);
                    }
                    //设置用户选择的默认购买数量=最小购买数量
                    _this.ticketInfoFrom.ticketFrom.num = _this.ticketInfoFrom.resdata.minBuyNum;
                    _this.buyNum = tools.getUrlParams('quantity');
                    // 设置时间默认为当天
                    var playdate = _this.dateToString(new Date());
                    $('#day').val(playdate)
                    _this.ticketInfoFrom.ticketFrom.bookingDate = playdate;
                    //设置购买的限制
                    _this.setGeekerLayDate();
                    // 立即支付 1
                    $('.paynow').click(function () {
                        if(betoken) {
                            _this.ticketInfoFrom.ticketFrom.userName = $('.pageusername').val();  // 联系人名字
                            _this.ticketInfoFrom.ticketFrom.userPhone = $('.pageuserphone').val();  // 联系人电话
                            _this.ticketInfoFrom.ticketFrom.pinyin = $('.pageuserpingyin').val(); // 联系人拼音
                            _this.ticketInfoFrom.ticketFrom.guideno = $('.pageuserdyz').val(); // 导游证号码
                            _this.ticketInfoFrom.ticketFrom.guidename = $('.pageuserdyname').val(); // 导游姓名
                            _this.ticketInfoFrom.ticketFrom.guidecardid = $('.pageuserdysfz').val(); // 导游身份证
                            _this.ticketInfoFrom.ticketFrom.quantitynum = $('.quantity-operation input').val();
                            _this.ticketInfoFrom.ticketFrom.childnum = $('.child-operation input').val();
                            // 页面提交前验证表单完整性
                            for(var i = 0; i<res.data.product.contactInfo.contactInfos.length; i++) {
                                if(res.data.product.contactInfo.contactInfos[i].name ==='name'){
                                    // 检查联系人姓名
                                    if(!_this.ticketInfoFrom.ticketFrom.userName || _this.ticketInfoFrom.ticketFrom.userName.trim() === '' || _this.ticketInfoFrom.ticketFrom.userName === '请输入联系人') {
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入联系人姓名',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }
                                }
                                // 联系人电话
                                if(res.data.product.contactInfo.contactInfos[i].name ==='phone'){
                                    //检查手机号
                                    if (!_this.ticketInfoFrom.ticketFrom.userPhone || _this.ticketInfoFrom.ticketFrom.userPhone.trim() === '' || _this.ticketInfoFrom.ticketFrom.userPhone === '请输入手机号码') {
                                        //提示输入账号
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入手机号码',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }else if(!/^1\d{10}$/.test(_this.ticketInfoFrom.ticketFrom.userPhone)){
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入正确的手机号码',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }
                                }
                                // 联系人名字pinyin
                                if(res.data.product.contactInfo.contactInfos[i].name ==='pinyin'){
                                    // 检查联系人拼音
                                    if (!_this.ticketInfoFrom.ticketFrom.pinyin || _this.ticketInfoFrom.ticketFrom.pinyin.trim() === '' || _this.ticketInfoFrom.ticketFrom.pinyin === '请输入联系人名字拼音') {
                                        //提示输入拼音
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入联系人名字拼音',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }
                                }
                                // 导游身份证
                                if(res.data.product.contactInfo.contactInfos[i].name ==='guideidcard'){
                                    if (!_this.ticketInfoFrom.ticketFrom.guidecardid || _this.ticketInfoFrom.ticketFrom.guidecardid.trim() === '' || _this.ticketInfoFrom.ticketFrom.guidecardid === '请输入导游身份证号码') {
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入导游身份证号码',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }
                                }
                                // 导游证号
                                if(res.data.product.contactInfo.contactInfos[i].name ==='guideno'){
                                    if (!_this.ticketInfoFrom.ticketFrom.guideno || _this.ticketInfoFrom.ticketFrom.guideno.trim() === '' || _this.ticketInfoFrom.ticketFrom.guideno === '请输入导游证号') {
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入导游证号',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }
                                }
                                // 导游姓名
                                if(res.data.product.contactInfo.contactInfos[i].name ==='guidename'){
                                    if (!_this.ticketInfoFrom.ticketFrom.guidename || _this.ticketInfoFrom.ticketFrom.guidename.trim() === '' || _this.ticketInfoFrom.ticketFrom.guidename === '请输入导游姓名') {
                                        $.dialog({
                                            title: '错误提示',
                                            message: '请输入导游姓名',
                                            width: 400,
                                            height: 200,
                                            mask: true,
                                            footer: false
                                        });
                                        return;
                                    }
                                }
                            }
                            // 游客信息
                            if(res.data.product.passengerInfoPerNum === 9999 || res.data.product.passengerInfoPerNum === 1){
                                for(var i = 0; i<res.data.product.passengerInfo.passengerInfos.length; i++) {
                                    if (res.data.product.passengerInfo.passengerInfos[i].name === 'name') {
                                        for(var num = 0;num<_this.buyNum; num++){
                                            _this.ticketInfoFrom.touristArrarInfo.name.push($('.tourist-name').eq(num).val())
                                            if($('.tourist-name').eq(num).val() ===''){
                                                $.dialog({
                                                    title: '错误提示',
                                                    message: '游客人姓名输入不完整',
                                                    width: 400,
                                                    height: 200,
                                                    mask: true,
                                                    footer: false
                                                });
                                                return;
                                            }
                                        }
                                    }
                                    if (res.data.product.passengerInfo.passengerInfos[i].name === 'pinyin') {
                                        for(var num = 0;num<_this.buyNum; num++){
                                            _this.ticketInfoFrom.touristArrarInfo.pinyin.push($('.tourist-namepy').eq(num).val())
                                            if($('.tourist-namepy').eq(num).val() ===''){
                                                $.dialog({
                                                    title: '错误提示',
                                                    message: '游客人拼音输入不完整',
                                                    width: 400,
                                                    height: 200,
                                                    mask: true,
                                                    footer: false
                                                });
                                                return;
                                            }
                                        }
                                    }
                                    if (res.data.product.passengerInfo.passengerInfos[i].name === 'phone') {
                                        for(var num = 0;num<_this.buyNum; num++){
                                            _this.ticketInfoFrom.touristArrarInfo.phone.push($('.tourist-phone').eq(num).val())
                                            if($('.tourist-phone').eq(num).val() ===''){
                                                $.dialog({
                                                    title: '错误提示',
                                                    message: '游客人手机号输入不完整',
                                                    width: 400,
                                                    height: 200,
                                                    mask: true,
                                                    footer: false
                                                });
                                                return;
                                            }
                                        }
                                    }
                                    _this.ticketInfoFrom.touristArrarInfo.usersfz=[];
                                    _this.ticketInfoFrom.touristArrarInfo.userhz=[];
                                    _this.ticketInfoFrom.touristArrarInfo.usertb=[];
                                    _this.ticketInfoFrom.touristArrarInfo.userga=[];
                                    if (res.data.product.passengerInfo.passengerInfos[i].credentialsType) {
                                        if(res.data.product.passengerInfo.passengerInfos[i].credentialsType.length>0) {
                                            for (var j = 0; j < res.data.product.passengerInfo.passengerInfos[i].credentialsType.length; j++) {
                                                if(res.data.product.passengerInfo.passengerInfos[i].credentialsType[j].name=== 'Idcard') {
                                                    for(var num = 0;num<_this.buyNum; num++){
                                                        _this.ticketInfoFrom.touristArrarInfo.usersfz.push($('.tourist-sfz').eq(num).val())
                                                    }
                                                }
                                                if(res.data.product.passengerInfo.passengerInfos[i].credentialsType[j].name=== 'Passport') {
                                                    for(var num = 0;num<_this.buyNum; num++){
                                                        _this.ticketInfoFrom.touristArrarInfo.userhz.push($('.tourist-hz').eq(num).val())
                                                    }
                                                }
                                                if(res.data.product.passengerInfo.passengerInfos[i].credentialsType[j].name=== 'TaiwanPermit') {
                                                    for(var num = 0;num<_this.buyNum; num++){
                                                        _this.ticketInfoFrom.touristArrarInfo.usertb.push($('.tourist-tb').eq(num).val())
                                                    }
                                                }
                                                if(res.data.product.passengerInfo.passengerInfos[i].credentialsType[j].name=== 'HKAndMacauPermit') {
                                                    for(var num = 0;num<_this.buyNum; num++){
                                                        _this.ticketInfoFrom.touristArrarInfo.userga.push($('.tourist-ga').eq(num).val())
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            // 判断是否同意购买协议
                            if(_this.ticketInfoFrom.ticketFrom.agreement===false) {
                                $.dialog({
                                    title: '错误提示',
                                    message: '请同意购买协议',
                                    width: 400,
                                    height: 200,
                                    mask: true,
                                    footer: false
                                });
                                return;
                            }
//                            _this.countPrice();  // 计算产品价格
                            console.log(_this.ticketInfoFrom)

                            //处理游客人信息 分为多个对象放在一个数组中提交
                            var touristArrar = _this.touristDataInfo();
                            console.log(touristArrar)
                            //保存订单
                            var params = {
                                url: 'line/saveOrder',
                                data: {
                                    passengerInfos:JSON.stringify(touristArrar),
                                    passengerInfoPerNum:_this.paramsTotal.passengerInfoPerNum,
                                    token:betoken,
                                    id: tools.getUrlParams('id'),
                                    supplierId:_this.paramsTotal.supplierId, //供应商id
                                    order:JSON.stringify({
                                        date:$(".date-inp").val(), //日期
                                        contactName:_this.ticketInfoFrom.ticketFrom.userName, // 联系人名字
                                        contactPhone:_this.ticketInfoFrom.ticketFrom.userPhone, // 联系人电话
                                        quantity:_this.ticketInfoFrom.ticketFrom.quantitynum, //数量
                                        child:_this.ticketInfoFrom.ticketFrom.childnum,
                                    })
                                }
                            };

                            tools.request(params, function(res){
                                if(res.code === 0) {
                                    window.location.href = "line-payment.html?id="+res.data.orderId+"";
                                }else{
                                    $.dialog({
                                        title: '错误提示',
                                        message: res.message,
                                        width: 400,
                                        height: 200,
                                        mask: true,
                                        footer: false
                                    });
                                }
                            })

                        }else{
                            window.location.href = "login.html";
                        }
                    })
                })
            }else{
                window.location.href = "login.html";
            }

        },
        // 计算产品价格
        countPrice: function () {
            var _this = this;
            var betoken = tools.getCookie('token')
            var params = {
                url: 'line/getMoney',
                data: {
                    quantity:_this.paramsTotal.quantity,
                    id: _this.dataParam.id,
                    date:$(".date-inp").val(),
                    child:_this.paramsTotal.child,
                    token:_this.dataParam.token
                }
            };
            if(betoken) {
                tools.request(params, function(res) {
                    $('.payorder1-right .font2').find('.price').html('<i>&yen;</i>'+res.data.money+'');
                    _this.totalAmount = res.data.money;
                })
            }else {
                window.location.href = "login.html";
            }
        },
        // 获取常用联系人
        getContacts: function () {
            var betoken = tools.getCookie('token')
            var params = {
                url: 'userInfo/getMemberContacts',
                data: {
                    token: betoken,
                    page:1,
                    limitPage:5
                }
            };
            if(betoken) {
                tools.request(params, function(res){
                })
            }else{
                window.location.href = "login.html";
            }

        },
        // 判断后台设置配置
        judgeServerConfig: function (data) {
            //联系人信息 根据后台返回的字段判断显示的内容

            for(var i = 0; i<data.contactInfo.contactInfos.length; i++) {
                // 联系人姓名
                if(data.contactInfo.contactInfos[i].name ==='name'){
                    $('.pageusername').parent().removeClass('none');
                }
                // 联系人电话
                if(data.contactInfo.contactInfos[i].name ==='phone'){
                    $('.pageuserphone').parent().removeClass('none');
                }
                // 联系人名字pinyin
                if(data.contactInfo.contactInfos[i].name ==='pinyin'){
                    $('.pageuserpingyin').parent().removeClass('none');
                }
                // 导游身份证
                if(data.contactInfo.contactInfos[i].name ==='guideidcard'){
                    $('.pageuserdysfz').parent().removeClass('none');
                }
                // 导游证号
                if(data.contactInfo.contactInfos[i].name ==='guideno'){
                    $('.pageuserdyz').parent().removeClass('none');
                }
                // 导游姓名
                if(data.contactInfo.contactInfos[i].name ==='guidename'){
                    $('.pageuserdyname').parent().removeClass('none');
                }
            }
            //判断游客 1级信息 姓名 手机号 拼音
            if(data.passengerInfo.passengerInfos.length<1) {
                $('.tourist-information').addClass('none');
            }
            for(var i = 0; i< data.passengerInfo.passengerInfos.length; i++) {
                if(data.passengerInfo.passengerInfos[i].name === 'name') {
                    $('.tourist-name').parent().removeClass('none');
                }
                if(data.passengerInfo.passengerInfos[i].name === 'pinyin') {
                    $('.tourist-namepy').parent().removeClass('none');
                }
                if(data.passengerInfo.passengerInfos[i].name === 'phone') {
                    $('.tourist-phone').parent().removeClass('none');
                }
                // 判断2级信息 证件
                if(data.passengerInfo.passengerInfos[i].credentialsType) {
                    for(var j = 0; j<data.passengerInfo.passengerInfos[i].credentialsType.length; j++) {
                        if(data.passengerInfo.passengerInfos[i].credentialsType[j].name === 'Idcard') {
                            $('.tourist-sfz').parent().removeClass('none');
                        }
                        if(data.passengerInfo.passengerInfos[i].credentialsType[j].name === 'Passport') {
                            $('.tourist-hz').parent().removeClass('none');
                        }
                        if(data.passengerInfo.passengerInfos[i].credentialsType[j].name === 'TaiwanPermit') {
                            $('.tourist-tb').parent().removeClass('none');
                        }
                        if(data.passengerInfo.passengerInfos[i].credentialsType[j].name === 'HKAndMacauPermit') {
                            $('.tourist-ga').parent().removeClass('none');
                        }
                    }
                }
            }

        },
        // 处理游客信息到一个数组中并返回
        touristDataInfo: function () {
            var _this = this;

            var dataArrar = []
            for(var i= 0;i<_this.buyNum; i++) {
                var dataInfo = {
                    credentials:'', //证件号
                    name: '', //姓名
                    pinyin:'',// 拼音
                    phone: '',//手机号
                    credentialsType:'',//证件类型
                    define1:'',// 自定义1
                    define2:'', // 自定义2
                }
                dataInfo.name = _this.ticketInfoFrom.touristArrarInfo.name[i];
                dataInfo.phone = _this.ticketInfoFrom.touristArrarInfo.phone[i];
                dataInfo.pinyin = _this.ticketInfoFrom.touristArrarInfo.pinyin[i];
                dataInfo.define1 = _this.ticketInfoFrom.touristArrarInfo.define1[i];
                dataInfo.define2 = _this.ticketInfoFrom.touristArrarInfo.define2[i];
                if(_this.ticketInfoFrom.touristArrarInfo.usersfz[i]!== ''){
                    dataInfo.credentials = _this.ticketInfoFrom.touristArrarInfo.usersfz[i];
                    dataInfo.credentialsType = 'Idcard';
                }else if(_this.ticketInfoFrom.touristArrarInfo.userhz[i]!== '') {
                    dataInfo.credentials = _this.ticketInfoFrom.touristArrarInfo.userhz[i];
                    dataInfo.credentialsType = 'Passport';
                }else if(_this.ticketInfoFrom.touristArrarInfo.usertb[i]!== '') {
                    dataInfo.credentials = _this.ticketInfoFrom.touristArrarInfo.usertb[i];
                    dataInfo.credentialsType = 'TaiwanPermit';
                }else if(_this.ticketInfoFrom.touristArrarInfo.userga[i]!== '') {
                    dataInfo.credentials = _this.ticketInfoFrom.touristArrarInfo.userga[i];
                    dataInfo.credentialsType = 'HKAndMacauPermit';
                }
                dataArrar.push(dataInfo)
            }
            return dataArrar
        },
        //日历
        lineDate: function () {
            var _this = this;
            var now = new Date();
            var time = now.getFullYear() + '-' + (now.getMonth()+1) + '-' + now.getDate();
            var mouth = now.getFullYear() + "-" +((now.getMonth()+1)<10?"0":"")+(now.getMonth()+1);
            payCalendar.init('.line_date', {
                url: 'line/getmonthPrice',
                date: time,
                mode: 'single',
                data: {
                    id: tools.getUrlParams('id'),
                    month: mouth,
                    supplierId: _this.paramsTotal.supplierId,
                    type: 'current'
                },
                change: function (date) {
                    $('.payorder1-right .font').find('.price').html('<i>&yen;</i>'+date.price +'x1')
                    $('.payorder1-right .font').find('.price2').html('<i>&yen;</i>'+date.childPrice +'x0')
                    _this.paramsTotal.quantity = 1;
                    _this.paramsTotal.child = 0;
                    console.log($('.tourist-list li+li'))
                    $('.tourist-list li+li').remove()
                    $(".date-inp").val(date.date)
                    $(".line_date").hide();
                    // 数量输入框控制
                    var max = date.minBuy <= date.stock ? date.maxBuy : date.stock;
                    _this.max = max;
                    _this.childmax = max - $(".quantity-operation .quantity-num").val();
                    $(".quantity-operation .quantity-num").val(1)
                    $(".child-operation .quantity-num").val(0)
                    _this.countPrice();
                }
            })
        },
        // 数量++
        numChange:function () {
            var _this = this;
            var id = tools.getUrlParams('id');
            $(".quantity-operation .add").click(function () {
                var addNum = parseInt($(this).prev().val());
                if(addNum >= _this.max){
                    $.toast({
                        text: '已是最大购买数量'
                    })
                }else{
                    addNum++;
                    if(parseInt(_this.paramsTotal.passengerInfoPerNum) !== 9999){
                        _this.paramsTotal.passengerInfoPerNum = addNum;
                        $('.tourist-list').append($('.tourist-list li:first-child').clone(true));
                        $('.tourist-list li:last-child').find('input').val('');
                    }
                    _this.buyNum = addNum
                    $(this).prev().val(addNum)
                    _this.childmax = --_this.max
                    _this.paramsTotal.quantity = parseInt($(this).prev().val())
                    $('.payorder1-right .font').find('.price').html('<i>&yen;</i>'+_this.paramsTotal.sellPrice +'x'+ _this.paramsTotal.quantity+'')
                    _this.countPrice();
                }
            });
            $(".child-operation .add").click(function () {
                var addNum = parseInt($(this).prev().val());
                if(addNum >= _this.childmax){
                    $.toast({
                        text: '已是最大购买数量'
                    })
                }else{
                    addNum++;
                    $(this).prev().val(addNum)
                    _this.max = --_this.childmax
                    _this.paramsTotal.child = parseInt($(this).prev().val())
                    $('.payorder1-right .font').find('.price2').html('<i>&yen;</i>'+_this.paramsTotal.childPrice +'x'+ _this.paramsTotal.child+'')
                    _this.countPrice();
                }
            });
            $(".quantity-operation .minus").click(function () {
                var addNum = parseInt($(this).next().val());
                if(addNum <= 1){
                    $.toast({
                        text: '已是最小购买数量'
                    })
                }else{
                    addNum--;
                    $(this).next().val(addNum)
                    if(parseInt(_this.paramsTotal.passengerInfoPerNum) !== 9999){
                        _this.paramsTotal.passengerInfoPerNum = addNum;
                        _this.buyNum = addNum
                        $('.tourist-list li:last-child').remove();
                    }
                    _this.childmax = ++_this.max
                    _this.paramsTotal.quantity = parseInt($(this).next().val())
                    $('.payorder1-right .font').find('.price').html('<i>&yen;</i>'+_this.paramsTotal.sellPrice +'x'+ _this.paramsTotal.quantity+'')
                    _this.countPrice();
                }
            });
            $(".child-operation .minus").click(function () {
                var addNum = parseInt($(this).next().val());
                if(addNum <= 0){
                    $.toast({
                        text: '已是最小购买数量'
                    })
                }else{
                    addNum--;
                    $(this).next().val(addNum)
                    _this.max = ++_this.childmax
                    _this.paramsTotal.child = parseInt($(this).next().val())
                    $('.payorder1-right .font').find('.price2').html('<i>&yen;</i>'+_this.paramsTotal.childPrice +'x'+ _this.paramsTotal.child+'')
                    _this.countPrice();
                }
            });
        }
    }
    $(function() {
        indexJs.init();
    })
</script>
</body>
</html>
