<!-- 页面设计：陈建波| 页面重构：龚小虎 | 前端开发：胡琳浚 | 创建：2018-8-7 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("common/headinfo.html",{h_tit:'河北旅游电商资讯网_个人中心'})%>
</head>
<body>
<!--页头-->
<%-include("common/header.html")%>
<div class="personalCenter-max personalCenter">
    <div class="center clearfix">
        <%-include("common/personal-nav.html")%>
        <div class="person-content bg-w">
            <div class="nearorder">
                <div class="person-title clearfix">
                    <h3 class="fl">
                        修改登录密码
                    </h3>
                </div>
                <div class="change-password">
                    <div class="clearfix password">
                        <p class="fl">当前密码</p>
                        <input class="oldpwd" type="password" placeholder="请输入当前密码" maxlength="18">
                        <span class="warning"><i>!</i>请正确填写密码</span>
                    </div>
                    <div class="clearfix password">
                        <p class="fl">新密码</p>
                        <input type="password" placeholder="请输入新密码" maxlength="18" class="userpwd">
                        <span class="warning"><i>!</i>正确输入密码</span>
                        <span>6-18位，区分大小写,字母、数字、特殊符号中的两种或两种以上</span>
                    </div>
                    <div class="safety-level">
                        安全等级
                        <span>弱</span>
                        <span>中</span>
                        <span>强</span>
                    </div>
                    <div class="clearfix password">
                        <p class="fl">确认新密码</p>
                        <input type="password" placeholder="请再次输入新密码" maxlength="18" class="userpwd2">
                        <span class="warning"><i>!</i>新密码不一致</span>
                    </div>
                    <div class="clearfix password">
                        <p class="fl"></p>
                        <a href="javascript:;" class="btn">提 交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页尾-->
<%-include("common/footer.html")%>
<script>
    var updatePwd = {
        init: function () {
            // 监听密码输入
            this.monitorPassword();
            this.eventBind();
        },
        eventBind: function () {
            var $oldpwd = $('.oldpwd'),
                $userpwd = $('.userpwd'),
                $userpwd2 = $('.userpwd2'),
                _this = this;
            $oldpwd.blur(function () {
                if(!tools.validate($oldpwd.val(),'length',5,19)){
                    $oldpwd.parent().find('.warning').addClass('curr');
                }else{
                    $oldpwd.parent().find('.warning').removeClass('curr');
                }
            });
            $userpwd.blur(function () {
                if(!tools.validate($userpwd.val(),'length',5,19)){
                    $userpwd.parent().find('.warning').addClass('curr');
                }else{
                    $userpwd
                        .parent().find('.warning').removeClass('curr');
                }
            });
            $userpwd2.blur(function () {
                if($userpwd2.val() !== $userpwd.val()){
                    $userpwd2.parent().find('.warning').addClass('curr');
                }
            });
            $('.btn').click(function () {
                if(!tools.validate($oldpwd.val(),'length',5,19)){
                    $oldpwd.parent().find('.warning').addClass('curr');
                    $oldpwd.focus();
                    return false;
                }
                if(!tools.validate($userpwd.val(),'length',5,19)){
                    $userpwd.parent().find('.warning').addClass('curr');
                    $userpwd.focus();
                    return false;
                }
                if(!tools.validate($userpwd2.val(),'length',5,19) || $userpwd2.val() !== $userpwd.val()){
                    $userpwd2.parent().find('.warning').addClass('curr');
                    $userpwd2.focus();
                    return false;
                }
                var params = {
                    token: tools.getCookie('token'),
                    oldPassword: $oldpwd.val(),
                    newPassword: $userpwd2.val()
                };
                _this.upPwd(params);

            })
        },
        //监听密码输入时的密码强度
        monitorPassword: function() {
            var _this = this;
            var pwdStrong = '无';
            $('.userpwd').bind('input porpertychange', function () {
                pwdStrong = _this.checkPassword3($(this).val());
                if(pwdStrong === '无') {

                }else if(pwdStrong === '弱') {
                    $('.safety-level>span').eq(0).addClass('curr').siblings().removeClass('curr');
                }else if(pwdStrong === '中') {
                    $('.safety-level>span').eq(1).addClass('curr').siblings().removeClass('curr');
                }else if(pwdStrong === '强') {
                    $('.safety-level>span').eq(2).addClass('curr').siblings().removeClass('curr');
                }
            })

        },
        //密码强度校验
        checkPassword3: function (pwd) {
            var Mcolor, Wcolor, Scolor, Color_Html;
            var m = 0;
            //匹配数字
            if (/\d+/.test(pwd)) {
                m++;
            };
            //匹配字母
            if (/[A-Za-z]+/.test(pwd)) {
                m++;
            };
            //匹配除数字字母外的特殊符号
            if (/[^0-9a-zA-Z]+/.test(pwd)) {
                m++;
            };

            if (pwd.length <= 6) { m = 1; }
            if (pwd.length <= 0) { m = 0; }
            switch (m) {
                case 1:
                    Wcolor = "pwd pwd_Weak_c";
                    Mcolor = "pwd pwd_c";
                    Scolor = "pwd pwd_c pwd_c_r";
                    Color_Html = "弱";
                    break;
                case 2:
                    Wcolor = "pwd pwd_Medium_c";
                    Mcolor = "pwd pwd_Medium_c";
                    Scolor = "pwd pwd_c pwd_c_r";
                    Color_Html = "中";
                    break;
                case 3:
                    Wcolor = "pwd pwd_Strong_c";
                    Mcolor = "pwd pwd_Strong_c";
                    Scolor = "pwd pwd_Strong_c pwd_Strong_c_r";
                    Color_Html = "强";
                    break;
                default:
                    Wcolor = "pwd pwd_c";
                    Mcolor = "pwd pwd_c pwd_f";
                    Scolor = "pwd pwd_c pwd_c_r";
                    Color_Html = "无";
                    break;
            }
            return Color_Html;
        },
        upPwd: function (option) {
            tools.request({
                url:'member/updatePassword',
                data:option
            },function (result) {
                if(result.code === 0){
                    alert('密码修改成功');
                    window.location.href = 'personalCenter-safeCenter.html'
                }else{
                    alert(result.message);
                }
            })
        }
    };
    $(function () {
        updatePwd.init();
    })
</script>
</body>
</html>
