<!DOCTYPE html>
<html lang="cn">
<head>
    <%-include("common/headinfo.html",{h_tit:'河北旅游电商资讯网_找回密码'})%>
</head>
<body>
<!--头部信息-->
<div class="register-header">
    <div class="center">
        <a class="logo" href="index.html?channelCode=index"></a>
        <span class="phone"><i></i></span>
        <a class="toregister" href="register.html">注册</a>
        <a class="tologin" href="login.html">登录</a>
    </div>
    <ul class="pagetype clearfix">
        <li class="curr animated pulse"><i>1</i>输入账户</li>
        <li class="animated pulse"><i>2</i>重置密码</li>
        <li class="animated pulse"><i>3</i>修改成功</li>
    </ul>
</div>
<!--第一步-->
<div class="firstpage">
    <table>
        <tr>
            <td class="title">登录名</td>
            <td class="middle1" colspan="2">
                <input type="text" placeholder="请输入手机号" class="pagephone1">
            </td>
        </tr>
        <!--<tr>-->
            <!--<td class="title">图形验证码</td>-->
            <!--<td class="middle2">-->
                <!--<input type="text">-->
            <!--</td>-->
            <!--<td class="tb-last">-->
                <!--<div class="vcode">-->
                    <!--<img src="image/vcode.jpg" alt="">-->
                <!--</div>-->

            <!--</td>-->
        <!--</tr>-->
        <tr>
            <td class="title"></td>
            <td><i class="page1next">下一步</i></td>
            <td></td>
        </tr>
    </table>
</div>
<!--第二步-->
<div class="secondpage">
    <table>
        <tr>
            <td class="title">手机号码</td>
            <td class="middle1" colspan="2"><input type="text" disabled value="181****8804" class="pagephone2"></td>
            <td></td>
        </tr>
        <tr>
            <td class="title">验证码</td>
            <td class="middle2">
                <input type="text" class="pagephonecode">
                <div class="getphonecode">获取验证码</div>
            </td>
            <td class="tb-last">

            </td>
        </tr>
        <tr>
            <td class="title">新密码</td>
            <td class="middle1" colspan="2">
                <input type="password" placeholder="请输入新密码" maxlength="18" class="pagenewpwd1">
            </td>
            <td class="tb-last">
                <i>6-18位，区分大小写,字母、数字、特殊符号中的两种或两种以上</i>
            </td>
        </tr>
        <tr>
            <td class="title"></td>
            <td class="middle2 safe">
                安全程度: <i>弱</i><i>中</i><i>强</i>
            </td>
        </tr>
        <tr>
            <td class="title">确认新密码</td>
            <td class="middle1" colspan="2">
                <input type="password" placeholder="请再次输入新密码" maxlength="18" class="pagenewpwd2">
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <i class="page3next">提交</i>
            </td>
        </tr>
    </table>
</div>
<!--第三步-->
<div class="threepage">
    <table>
        <tr>
            <td class="title">新密码</td>
            <td class="middle1" colspan="2">
                <input type="text" placeholder="请输入新密码">
                <i>6-18位，区分大小写,字母、数字、特殊符号中的两种或两种以上</i>
            </td>
        </tr>
        <tr>
            <td class="title"></td>
            <td>

            </td>
            <td class="middle2 safe">
                安全程度: <i>弱</i><i>中</i><i>强</i>
            </td>
        </tr>
        <tr>
            <td class="title">确认新密码</td>
            <td class="middle1" colspan="2">
                <input type="text" placeholder="请再次输入新密码">
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <i class="page3next">提交</i>
            </td>
        </tr>
    </table>
</div>
<!--第四页-->
<div class="fourpage">
    <p class="title">
        <i class="daq-icon">&#xe6b6;</i>
        恭喜您,密码修改成功!
    </p>
    <a href="login.html">立即登录</a>
    <p class="yqtips">
        <span >3</span>
        秒后会自动为您跳转到登录页
    </p>
</div>
<!--页尾-->
<%-include("common/footer.html")%>
<!--demo模板-->
<script>
var repwdJs = {
    init: function () {
        this.getConfig();
        this.setInPageBtn();
        this.monitorPassword();
    },
    _config:{},
    userInfo: {
        userPhone:'',
        userPhoneCode:'',
        userNewPwd1:'',
        userNewPwd2:''
    },

    //获取config配置
    getConfig: function () {
        var _this = this;
        var sendParams = {
            url: 'config/config',
            data: {}
        };
        tools.request(sendParams, function (data) {
            _this._config = data;
            $('.phone').html(_this._config.page.retrievepassword.phone)
        })
    },
    // 设置每页跳转按钮
    setInPageBtn: function () {
        var _this = this;
        // 第一页跳转
        $('.page1next').click(function () {
            _this.userInfo.userPhone = $('.pagephone1').val();

            if (!_this.userInfo.userPhone || _this.userInfo.userPhone.trim() === '' || _this.userInfo.userPhone === '请输入你的手机号') {
                //提示输入账号
                alert('请输入您的注册手机号码');
                return;
            }else if(!/^1\d{10}$/.test(_this.userInfo.userPhone)){
                alert('请正确输入手机号码！');
                return;
            }
            _this.setRePhoneCode();
            $('.pagephone2').attr('value',  _this.userInfo.userPhone);
            $('.firstpage').hide()
            $('.secondpage').show();
            $('.pagetype').find('li').eq(1).addClass('curr').siblings().removeClass('curr');

        })
        // 第三页跳转
        $('.page3next').click(function () {
            _this.userInfo.userPhoneCode = $('.pagephonecode').val();
            _this.userInfo.userNewPwd1 = $('.pagenewpwd1').val();
            _this.userInfo.userNewPwd2 = $('.pagenewpwd2').val();

            if(!_this.userInfo.userPhoneCode){
                alert('请输入短信验证码')
                return;
            }
            if (!_this.userInfo.userNewPwd1 || _this.userInfo.userNewPwd1.trim() === '' || _this.userInfo.userNewPwd1 === '请输入新密码') {
                alert('请输入新密码')
                return;
            }else if(_this.userInfo.userNewPwd1.length<6){
                $('.td-last').eq(2).addClass('warning').find('.tips').html('<i>!</i>密码不能少于6位');
                alert('新密码不能少于6位')
                return;
            }
           if(_this.userInfo.userNewPwd1 !== _this.userInfo.userNewPwd2) {
               alert('两次输入的密码不一致')
               return;
           }
            //找回密码提交
            var sendParams = {
                url: 'member/findPassword',
                data: {
                    account:_this.userInfo.userPhone,
                    password:_this.userInfo.userNewPwd1,
                    msgCode:_this.userInfo.userPhoneCode,
                    affirmPassword:_this.userInfo.userNewPwd2
                }
            };
            tools.request(sendParams, function (data) {
                if(data.code === 0){
                    $('.secondpage').hide()
                    $('.fourpage').show();
                    $('.pagetype').find('li').eq(2).addClass('curr').siblings().removeClass('curr');
                    setTimeout(function () {
                        window.location.replace('login.html');
                    },3000)

                }else{
                  alert(data.message)
                }

            });
        })
    },
    // 重新发送短信
    setRePhoneCode: function () {
        var _this = this;
        $('.getphonecode').click(function () {
            if($(this).html() === '重发验证码' || $(this).html() === '获取验证码') {
                var sendParams = {
                    url: 'member/sendMsg',
                    data: {
                        type:'_findPassword',
                        phone: _this.userInfo.userPhone
                    }
                };
                tools.request(sendParams, function (data) {
                    $('.getphonecode').addClass("unclick");
                    _this.countdown();
                });
            }
        })
    },
    // 倒计时
    countdown: function () {
        var i= 60;
        $(".getphonecode").html(i+"s");
        var timer =	setInterval(function(){
            i--;
            if(i > 0) {
                $(".getphonecode").html(i+"s");
            } else {
                clearInterval(timer);
                $(".getphonecode").html("重发验证码").removeClass("unclick");
            }
        },1000);
    },
    //监听密码输入时的密码强度
    monitorPassword: function() {
        var _this = this;
        var pwdStrong = '无'
        $('.pagenewpwd1').bind('input porpertychange', function () {
            pwdStrong = _this.checkPassword3($(this).val())
            if(pwdStrong === '无') {
            }else if(pwdStrong === '弱') {
                $('.safe>i').eq(0).addClass('curr').siblings().removeClass('curr');
            }else if(pwdStrong === '中') {
                $('.safe>i').eq(1).addClass('curr').siblings().removeClass('curr');
            }else if(pwdStrong === '强') {
                $('.safe>i').eq(2).addClass('curr').siblings().removeClass('curr');
            }
        })

    },
    //密码强度校验
    checkPassword3: function (pwd) {
        var Mcolor, Wcolor, Scolor, Color_Html;
        var m = 0;
        //匹配数字
        if (/\d+/.test(pwd)) {
            m++;
        };
        //匹配字母
        if (/[A-Za-z]+/.test(pwd)) {
            m++;
        };
        //匹配除数字字母外的特殊符号
        if (/[^0-9a-zA-Z]+/.test(pwd)) {
            m++;
        };

        if (pwd.length <= 6) { m = 1; }
        if (pwd.length <= 0) { m = 0; }
        switch (m) {
            case 1:
                Wcolor = "pwd pwd_Weak_c";
                Mcolor = "pwd pwd_c";
                Scolor = "pwd pwd_c pwd_c_r";
                Color_Html = "弱";
                break;
            case 2:
                Wcolor = "pwd pwd_Medium_c";
                Mcolor = "pwd pwd_Medium_c";
                Scolor = "pwd pwd_c pwd_c_r";
                Color_Html = "中";
                break;
            case 3:
                Wcolor = "pwd pwd_Strong_c";
                Mcolor = "pwd pwd_Strong_c";
                Scolor = "pwd pwd_Strong_c pwd_Strong_c_r";
                Color_Html = "强";
                break;
            default:
                Wcolor = "pwd pwd_c";
                Mcolor = "pwd pwd_c pwd_f";
                Scolor = "pwd pwd_c pwd_c_r";
                Color_Html = "无";
                break;
        }
        return Color_Html;
    },

}
$(function () {
    repwdJs.init();
})

</script>
</body>
</html>
