@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea,img { padding:0; margin:0; border:none;}
input,button,select,textarea,a,img{outline:none; }/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner{border:0;}/*火狐的私有属性去掉点击时边框*/
body {font-size:14px; width:100%; background:#f3f3f3; overflow-x:hidden;  font-family:"Microsoft YaHei","SimSun","Arial";}
html{ width:100%;}
a img {	border:none;}
a {	text-decoration:none; outline:none; padding:0; margin:0; cursor:pointer; cursor:hand;}
ul, ul li, ol li, li {	list-style:none;}
table {	border-collapse: collapse;border-spacing:0;}
input, textarea {border: 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
* html .clearfix {zoom: 1;}
*:first-child + html .clearfix {zoom: 1;}
.fl {	float:left;}
.fr {	float:right;}
.none{	display:none;}



@font-face {
    font-family: flexslider-icon;
    src: url(fonts/flexslider-icon.eot);
    src: url(fonts/flexslider-icon.eot?#iefix) format('embedded-opentype'), url(fonts/flexslider-icon.woff) format('woff'), url(fonts/flexslider-icon.ttf) format('truetype'), url(fonts/flexslider-icon.svg#flexslider-icon) format('svg');
    font-weight: 400;
    font-style: normal
}

.flex-container a:hover, .flex-slider a:hover {
    outline: 0
}

.flex-control-nav, .flex-direction-nav, .slides, .slides > li {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-pauseplay span {
    text-transform: capitalize
}

.flexslider {
    padding: 0;
    margin: 0 0 60px;
    background: #fff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, .2)
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .flexslider .slides {
    display: block
}

* html .flexslider .slides {
    height: 1%
}

.no-js .flexslider .slides > li:first-child {
    display: block
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides img {
    width: 100%;
    display: block;
    height: auto;
    -moz-user-select: none
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.loading .flex-viewport {
    max-height: 300px
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 32px;
    height: 69px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}



.flex-direction-nav a.flex-next:before {
    content: '\f002'
}

.flex-direction-nav .flex-prev {
    left: -50px
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: .7;
    left: 0px
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: .7;
    right: 0px
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000
}

.flex-pauseplay a:before {
    font-family: flexslider-icon;
    font-size: 20px;
    display: inline-block;
    content: '\f004'
}

.flex-pauseplay a:hover {
    opacity: 1
}

.flex-pauseplay a.flex-play:before {
    content: '\f003'
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: center
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.flex-control-paging li a {
    width: 23px;
    height: 23px;
    display: block;;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.flex-control-paging li a:hover {
}

.flex-control-paging li a.flex-active {;
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px
    }
}

/*# sourceMappingURL=flexslider.min.css.map */

@charset "utf-8";
/* CSS Document */
body,html{font-family: "Microsoft YaHei" !important;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea { padding:0; margin:0; border:none;}
body{position: relative;}
input,button,select,textarea,a,img{outline:none; }/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner{border:0px;}/*火狐的私有属性去掉点击时边框*/
html{ width:100%;height:100%; overflow-x:hidden;}
a img {	border:none;}
ul, ul li, ol li, li {	list-style:none;}
table {	border-collapse: collapse;border-spacing:0;}
input, textarea{border: 0;}
a { text-decoration: none; color: #333; }
a:hover { text-decoration: none; }
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
* html .clearfix {zoom:1;}
*:first-child + html .clearfix {zoom:1;}
img{vertical-align:top; border: none;}
.fl {float:left;}
.fr {float:right;}
.none{display:none;}
.nrp{text-overflow: ellipsis; white-space: nowrap; word-break:keep-all; overflow: hidden;}/*设置文字超出部分为省略号*/
li{ text-decoration:none;}
li:hover{text-decoration: none;}
i{font-style:normal;}
.hide{overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.wrap { margin: 0 auto; width: 1200px; }

.flexslider{ position: relative; width: 100%; height: 100%; margin: 0; overflow: hidden; }

/** 透明遮罩:数字代表不同透明度 **/
.mask60 { position: absolute; z-index: 10; display: block; width: 100%; background: url(../image/opc60.png) repeat; }
.mask50 { position: absolute; z-index: 10; display: block; width: 100%; background: url(../image/opc50.png) repeat; }
.mask30 { position: absolute; z-index: 10; display: block; width: 100%; background: url(../image/opc30.png) repeat; }

/** 动画 **/
.scale,.change {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.scale:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/*天气图标*/
/*@font-face {font-family: "weatherfont";*/
    /*src: url('font/weather_icon.eot'); !* IE9*!*/
    /*src: url('font/weather_icon.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('font/weather_icon.woff') format('woff'), !* chrome、firefox *!*/
    /*url('font/weather_icon.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
    /*url('font/weather_icon.svg#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/
.weather_font { font-family:'weatherfont' !important; font-size:16px; font-style:normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}


/************ 导航分类 ***********/
.tag{ width: 1180px; margin: 0px 20px 0 0; padding: 10px 0px 10px 20px; background-color: #fff;}
.tag > li{ position: relative; line-height: 50px; font-size: 0; border-bottom: 1px solid #e5e5e5;}
.tag > li > hr{ position: absolute; left:0; top: 50px; border: 0; width: 100%; height: 1px; padding: 0; margin: 0; color:#e6e6e6; background-color:#e6e6e6; overflow: hidden; }
.tag > li > p{ display:inline-block; vertical-align: top; max-width: 1010px; ;font-size: 0; }
.tag > li > span{ display:inline-block; vertical-align: middle; line-height:50px; font-size: 14px; color: #333;}
.tag > li a,.tag > li label{ display:inline-block; *zoom:1; *display:inline; vertical-align:top; *vertical-align:middle; height: 26px; line-height: 26px; margin: 12px 12px 12px 0; padding: 0 10px; font: 14px "微软雅黑"; color: #333; }
.tag > li a.curr,.tag > li a:hover{ color: #fff;background-color: #409cff; -webkit-border-radius:2px; border-radius:2px; }
.tag > li.bot_none{border-bottom: none;}

/****************酒店列表*****************/
/*.hotel_lst{ width: 1224px; }*/
/*.hotel_lst > li{ position: relative; float: left; width: 384px; margin: 24px 24px 0 0; overflow: hidden; }*/
/*.hotel_lst > li:hover .hotel_box{border-color: #fff; }*/
/*.hotel_tit { height: 44px; line-height: 44px; margin-bottom: 15px; font-size: 16px; font-weight: bold; border-bottom: 1px solid #e4e3e0; }*/
/*.hotel_tit > a { display: inline-block; vertical-align: middle; max-width: 73%; padding-left: 5px; color: #333; overflow: hidden; }*/
/*.star{ display:inline-block;vertical-align:middle; line-height: 10px; padding: 2px 2px;  font-size: 0; background-color: #4cc3ff; -webkit-border-radius:8px; border-radius:8px; }*/
/*.star > i{ display:inline-block; vertical-align: top; width: 10px; height: 10px; margin-right: 1px; background: url(../image/icon.png) no-repeat 0 -91px; }*/
/*.hotel_box { padding: 4px 10px 28px; background-color: #fff; border-bottom: 2px solid #7fd4ff;}*/
/*.lst_label{ position: absolute; top: -35px; right: 15px; font-size: 0;}*/
/*.lst_label span{ position: relative; display:inline-block; width: 40px; height: 34px; margin-left: 4px; line-height: 34px; text-align: center; cursor: pointer;*/
    /*background-color:rgba(0,0,0,.6); filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr= #99000000,endColorstr= #99000000); -webkit-border-radius:3px; border-radius:3px;}*/
/*.lst_label span:hover{ background-color:rgba(0,0,0,.8); filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr= #C8000000,endColorstr= #C8000000);}*/
/*.lst_label span img{ vertical-align: middle;}*/
/*.bdsharebuttonbox{position: absolute; top: 0; display: block; width:100%; height:36px;}*/
/*.bds_more{position: absolute;z-index:10; margin:0;padding:0;background: transparent;left: 0;top: 0;width:100%;height:100%; display:inline-block; border: 0}*/

/*列表样式*/
.modle_pic{ position: relative; display: block; width: 100%; height: 288px; overflow: hidden;  text-align: center; }
.modle_title1{ height: 36px; line-height: 36px; margin-top: 7px; font-size: 16px; font-weight: bold; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; }
.modle_title1 > a{ color:#fff; }
.modle_title1 i{ display:inline-block; vertical-align: top; margin: 10px 8px 0 0 ; width: 4px; height:16px;  background-color: #fd950f; -webkit-border-radius: 4px; border-radius: 4px; }
/*.summary{ height: 66px; font-size: 14px;line-height: 22px;color: #ddeeff;text-align: justify; overflow: hidden; }*/
/*.summary a{ padding-left: 6px; color: #ff9635; }*/
.pic_more{ position: absolute; left: 50%; top: 50%; display: none; vertical-align: middle; width: 120px; height: 40px; line-height: 40px; margin: -20px 0 0 -60px; font-size: 16px; color: #fff; text-align: center;
    background-color: rgba(0, 0, 0, 0.6); filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr= #99000000,endColorstr= #99000000); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; transition-duration: 500ms; }
.pic_more:hover { background-color: rgba(0, 0, 0, 0.8); filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr= #C8000000,endColorstr= #C8000000); }

/*图片效果*/
.scale_pic{ vertical-align: top; width: 100%; height: 100%; -webkit-transform: scale(1.2); -moz-transform: scale(1.2); transform: scale(1.2); -webkit-transition-duration: 500ms; -moz-transition-duration: 500ms; transition-duration: 500ms; }
.scale_pic_small{ -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);  }
.animate_pic li:hover .scale_pic,.animate_pic dl:hover .scale_pic,.animate_pic a:hover .scale_pic {-webkit-transform: scale(1.3); -moz-transform: scale(1.3); transform: scale(1.3); }
.animate_pic li:hover .shadow_pic{ display: block; }

/**************公用图标样式***************/
.data_info { height: 26px; line-height: 26px; margin-top: 10px; font-size: 14px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.icon { display: inline-block; vertical-align: top; *zoom: 1; *display: inline; *vertical-align: middle; *margin-top: auto; width: 26px; height: 26px; margin-right: 8px; background: url(../image/icon.png)  no-repeat 0 0; }
.icon_tel { background-position: 0 -32px; }
.icon_addr { background-position: 0 -58px; }
.icon_tit { width: 7px; height: 7px; vertical-align: middle; background-position: 0 -84px; }
/***********分页************/
.page{ padding: 40px 0 60px; font-size: 0; text-align: center;}
.page > a{ display: inline-block; width: 51px; height: 38px; margin:0 5px; font: normal 14px/38px "Arial"; color: #555; text-align: center; background-color: #fff; -webkit-border-radius: 4px; border-radius:4px; cursor: pointer;}
.page > .first_page,.page > .last_page{ width: 58px; font-family: "Microsoft YaHei";}
.page > .page_up,.page > .page_down{ width: 77px; font-family: "Microsoft YaHei";}
.page > .curr,.page > a:hover{color: #fff; background-color: #b52815; border-color: #fff;cursor: pointer;}

/**********下拉框样式*****************/
.daq-btn-default .daq-caret {position: absolute; top: 50%; right: 13px; margin-top: -2px; }
.daq-caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid #9d9d9d; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.daq-select { position:relative; z-index:2; float: left; height:42px; }
.daq-filter { float:left; width:125px; height: 40px; text-indent: 10px; font-size: 14px; text-align: left; line-height: 40px;}
.daq-dropdown-menu {position: absolute; top: 39px; left: 0; z-index: 1000; display: none; float: left; width: 178px; margin: 2px 0 0; font-size: 14px; list-style: none; background-color: #fff; border: 1px solid #ccc; }
.daq-inputadd-none {border-top: 1px solid #e0e0e0; border-bottom: none!important;}
.daq-dropdown-search {width:178px;}
.daq-show {display: block;}
.daq-hidden {display: none;}

.order_select .daq-select{ height:28px; }
.white_se .daq-filter{ width: 100%; height: 100%; line-height: 26px; }
.white_se .daq-btn-default{ width: 76px; height: 24px; background-color: #fff;}
.white_se .daq-dropdown-menu{ width: 150px; }
.daq-btn-default{color: #222;border: 1px solid #dadada;}
.daq-select-line{background-color: #ccc;}
.daq-btn-default.active {color: #222; border-color: #dadada;}
.daq-dropdown-menu{border:1px solid #dadada;}
.daq-drop-ul{background-color: #fff;}
.daq-dropdown-menu .daq-drop-ul>li>a{color: #222;}
.daq-dropdown-menu .daq-drop-ul>li:hover {background: #ddf2ff;}
.daq-dropdown-menu .daq-drop-ul>li>.halfsel {background: #ddf2ff;}
.daq-dropdown-menu .daq-drop-ul>li>.active>a {color: #222;}
.daq-dropdown-menu .daq-drop-ul>li>ul>li>.active {background: #ddf2ff;}
.daq-dropdown-menu .daq-drop-ul>li>ul>li>.active>a {color: #0087bd;}







/* tools中使用的css */

/*接口结果提示 start*/
.no-data, .no-data1, .try-refresh, .try-refresh1 {
  width: 100%;
  font-size: 15px;
  color: red;
  text-align: center;
}

.no-data1, .try-refresh1 {
  padding-top: 100px;
}

/*接口结果提示 end*/

/*加载提示 start*/
.loading-tips, .dy-loading-tips {
  padding: 50px 0;
  text-align: center;
}

.dy-loading-tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loading-tips p, .dy-loading-tips p {
  font: 12px/36px "microsoft yahei";
    color:#777;
}

.loading-tips img, .dy-loading-tips img {
  width: 20px !important;
  height: 20px !important;
}

/*加载提示 end*/

/*翻页start*/
/*自定义新样式请复制翻页所有样式，然后修改.page名称，再分别修改样式内容，例子见下面翻页第二版*/
.page {
  padding: 30px 0 0;
  font-size: 0;
  text-align: center;
}

.page > a {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin: 0 5px;
  font: normal 14px/28px "Arial";
  color: #999;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.page > .first-page, .page > .last-page {
  width: 48px;
  font-family: "Microsoft YaHei";
}

.page > .page-down, .page > .page-up {
  width: 58px;
  font-family: "Microsoft YaHei";
}

/*有效按钮（可点击）,自定义样式时请注意valid和invalid*/
.page > .curr, .page > .valid:hover {
  font-weight: bold;
  color: #fff;
  background-color: #d9341d;
  border-color: #d9341d;
}

/*无效按钮（不能点击）*/
.page > .invalid {
  cursor: auto;
}

/*翻页end*/

/*翻页第二版 start*/
.page-small {
  width: 100%;
  height: 26px;
  padding: 40px 0;
  font-size: 0;
  text-align: center;
}

.page-small a {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 28px;
  font-family: "Arial";
  cursor: pointer;
}

.page-small a.first-page, .page-small a.last-page {
  width: 48px;
  font-family: "Microsoft YaHei";
}

.page-small a.page-up, .page-small a.page-down {
  width: 62px;
  font-family: "Microsoft YaHei";
}

/*有效按钮（可点击）*/
.page-small .valid:hover {
  background-color: #ff8e20;
  border: 1px solid #ff8e20;
  color: #fff;
}

.page-small .curr {
  font-weight: bold;
  font-size: 16px;
  background-color: #ff8e20;
  color: #fff;
}

/*无效按钮（不能点击）*/
.page-small > .invalid {
  cursor: auto;
}

/*翻页第二版 end*/

/*视频弹窗*/
.share-video {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../image/shareVedio.png) no-repeat;
}

.share-video:hover {
  background-position: 0 -32px;
}

.video-box {
  width: 1010px;
  height: 707px;
  overflow: hidden;
  position: fixed;
  z-index: 10002;
  left: 50%;
  margin-left: -505px;
  top: 50%;
  margin-top: -353px;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
}

.video-cont {
  position: relative;
  width: 980px;
  height: 595px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#99ffffff, endColorstr=#99ffffff);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.video-tit {
  position: relative;
  width: 100%;
  color: #000;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#99ffffff, endColorstr=#99ffffff);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.video-tit p {
  position: absolute;
  right: 20px;
  top: 9px;
}

.vpro {
  width: 100%;
  height: 5px;
  position: absolute;
  margin-top: -2.5px;
  top: 50%;
  background: #000;
  left: -100%;
}

/*图库弹出层样式*/
.opa80 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background: url(../image/opa80.png) repeat;
}

.pop-remove {
  z-index: 10001;
}

.pop-close {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 72px;
  height: 72px;
  background: url(../image/tc_close.png) no-repeat;
  z-index: 10001;
}

.pop-close:hover {
  background: url(../image/tc_closeH.png) no-repeat center;
}

.pop-btn {
  display: block;
  position: fixed;
  width: 70px;
  height: 150px;
  top: 50%;
  margin-top: -75px;
  z-index: 10002;
}

.pop-prev {
  left: 0;
  background: url(../image/tc_left.png) no-repeat center;
}

.pop-prev:hover {
  background: url(../image/tc_leftH.png) no-repeat center;
}

.pop-next {
  right: 0;
  background: url(../image/tc_right.png) no-repeat center;
}

.pop-next:hover {
  background: url(../image/tc_rightH.png) no-repeat center;
}

.pop-box {
  display: inline-block;
  position: fixed;
  z-index: 10002;
  left: 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#99ffffff, endColorstr=#99ffffff);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.pop-tit {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 32px;
  bottom: 35px;
  left: 0;
}

.pop-tit > span {
  display: inline-block;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  *vertical-align: middle;
  *margin-top: auto;
  height: 32px;
  padding: 0 20px;
  font: normal 14px/32px "microsoft yahei";
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#99000000, endColorstr=#99000000);
  -webkit-border-radius: 32px;
  border-radius: 32px;
}

.webDa:hover {
  cursor: pointer
}

.high-light{
    color:#ab3103;
    font-weight:normal;
}

.no-more {
    text-align: center;
    line-height: 80px;
    color: #666;
}


/*# sourceMappingURL=globle-scss.css.map */
