    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="keywords" content="平乐古镇·天台山旅游电子商务平台"/>
    <meta name="description" content="平乐古镇·天台山旅游电子商务平台"/>
    <meta name="author" content="成都中科大旗软件/">
    <link type="image/x-icon" rel="icon" href="image/favicon.ico"/>
    <link rel="stylesheet" href="/css/globle.css">
    <link rel="stylesheet" href="/css/globle-scss.css">
    <title>平乐古镇·天台山旅游电子商务平台</title>
    <!--极客system-->
    <link rel="stylesheet" href="http://filealiyun.geeker.com.cn/ued/geekUI-system/css/base/daq-system.min.css"/>
    <script src="http://filealiyun.geeker.com.cn/ued/js/jquery-1.8.3.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.js"></script>
    <script src="http://filealiyun.geeker.com.cn/ued/geekUI-system/js/daq-system.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=9884f36684296362e68574f80a775ff5"></script>
    <script src="http://filealiyun.geeker.com.cn/ued/laydate/v5.x/laydate.js"></script>
    <script src="/js/lib/jquery.flexslider-min.js"></script>
    <script src="/js/lib/swfobject.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/lib/jquery.tmpl.min.js"></script>
